.InputField {
  width: 100%;

  &__caption {
    color: #0090b8;
    margin-bottom: 20px;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    display: block;
    width: 100%;
  }

  &__input {
    width: inherit;
    padding: 20px 33px;
    font-family: Roboto;
    font-size: 26px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    text-align: left;
    height: 70px;
    background: rgba(0, 95, 121, 0.6);
    backdrop-filter: blur(22px);
    border-radius: 5px;
    border: 0;
    color: #fff;
  }

  @media all and (max-width: 465px) {
    &__input {
      padding: 20px;
    }
  }
}
