.App {
  padding: calc(100vw * (124 / 1440)) calc(100vw * (182 / 1440))
    calc(100vw * (110 / 1440)) calc(100vw * (183 / 1440));
  background-image: url(logo.svg),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(1, 187, 237, 0.4) 0%,
      rgba(1, 187, 237, 0) 100%
    ),
    linear-gradient(180deg, #00090d 0%, #001f2d 100%);
  background-blend-mode: normal, lighten, normal;
  background-size: 194px 174px, 708px 708px, auto auto;
  background-position: 710px 70px, calc(100vw * (1258 / 1440)) 610px, 0% 0%;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-attachment: scroll, scroll, scroll;

  &__ellipse1 {
    position: absolute;
    width: 708px;
    height: 708px;
    left: -185px;
    top: 19px;

    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(1, 187, 237, 0.35) 0%,
      rgba(1, 187, 237, 0) 100%
    );
    background-blend-mode: lighten;
  }

  &__title {
    color: #fff;

    font-family: Montserrat;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 63px;
    letter-spacing: 0em;
    text-align: left;

    margin-bottom: 30px;
    max-width: 771px;
  }

  &__react {
    color: #61dafb;

    font-family: Segoe UI;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 63px;
    letter-spacing: 0em;
    text-align: left;
  }

  &__desc {
    color: #fff;
    max-width: 564px;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 60px;
  }

  &__wrapper-answer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 30px;
    align-items: flex-start;
  }

  &__InputFields {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px 30px;
    padding-top: 4px;
  }

  &__answer-title {
    color: #fff;
    font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0;
    margin-right: 144px;
  }

  &__InputField {
    width: 150px;
  }

  @media all and (min-width: 1441px) {
    padding-top: 124px;
  }

  @media all and (max-width: 903px) {
    background-position: calc(100% - 7px) 70px,
      calc(100vw * (1258 / 1440)) 610px, 0% 0%;
  }

  @media all and (max-width: 820px) {
    background-position: calc(100% - 7px) 11px,
      calc(100vw * (1258 / 1440)) 610px, 0% 0%;
    padding-left: 44px;
    padding-right: 44px;

    &__title,
    &__react {
      font-size: 40px;
    }
  }

  @media all and (max-width: 555px) {
    background-position: calc(100% - 7px) 11px, 320px 704px, 0% 0%;
    &__title,
    &__react {
      font-size: 38px;
      line-height: 53px;
    }
  }

  @media all and (max-width: 465px) {
    background-size: 136px 122px, 298px 298px, auto auto;
    padding: 49px 34px 43px;

    &__ellipse1 {
      position: absolute;
      width: 427px;
      height: 427px;
      left: -171px;
      top: 110px;
    }

    &__title {
      max-width: 315px;
      margin-bottom: 25px;
    }

    &__title,
    &__react {
      font-size: 30px;
      line-height: 37px;
    }

    &__desc {
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 50px;
    }

    &__answer-title {
      font-size: 24px;
    }

    &__InputFields {
      gap: 20px 26px;
      padding-top: 0px;
    }

    &__InputField {
      width: 160px;
    }
  }

  .InputField {
    @media all and (max-width: 555px) {
      &__caption {
        margin-bottom: 15px;
      }
    }
  }
}

// .App {
//   text-align: center;
// }

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
