.App {
  max-width: 1440px;
  background-color: black;
  flex-grow: 1;
  padding-left: 183px;
  background: linear-gradient(180deg, #00090D 0%, #001F2D 100%);

  &__title {
    color: #fff;
    font-family: Segoe UI;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 63px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 30px;
    max-width: 771px;
  }

  &__react {
    color: #61dafb;
    font-family: Montserrat;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 63px;
    letter-spacing: 0em;
    text-align: left;
  }

  &__desc {
    color: #fff;
    max-width: 564px;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 60px;
  }

  &__wrapper-answer {
    display: flex;
    flex-wrap: wrap;
    gap:  20px 30px;
    align-items: flex-start;
  }

  &__InputFields {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 30px;
    padding-top: 7px;
  }

  &__answer-title {
    color: #fff;
    font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0;
    margin-right: 144px;                
  }

  &__InputField {
    width: 150px;
  }
}

// .App {
//   text-align: center;
// }

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
